
<div >

  <!-- Highlight Card -->
  <div >

    
    <span>{{ title }} 
    </span>
    <h1>{{2+2}}</h1>
    <h1>{{ total}}</h1>
    <span>{{ title.length }} 
    </span>
    <span>{{ title.toUpperCase() }} 
    </span>
    <h1>{{ location}}</h1>
    
    <h1>{{ getname()}}</h1>
    <h1>event binding</h1>
    
    <button (click)="btnclick($event)">click here</button>
    
    <button (click)="btndata='second btn click'">click here</button>
    {{btndata}}
  <div app-test>
</div>

  </div>



</div>
