
 <p>test works!
  
</p>
<p>
{{testdata}}
</p>
<div>property biinding</div>
<form>
<input id="{{idname}}" type="text"  value="asdfg">
<input [id]="idname" [disabled]="isdisble" type="text"  value="asdfg"> 
<h1 class={{classname}}>class binding</h1>
<h1 [class]="classname">class binding</h1>
<h1 [class.abc]="cssappy">class binding</h1>

<!-- multiple clssassign -->
<h1 [ngClass]="multiclass">multi class binding</h1>
<!-- style binf -->
<h1 [style.Color]="'pink'">style binding</h1>
<h1 [style.Color]="false ? stylecolor :'orange'">style aaa binding</h1>
<h1 [ngStyle]="multistyle">multi style binding</h1>

</form> 

<div >reference variable </div>
<input #refdata type="text">
<button (click)="funrefdata(refdata)"> click ref variable </button>{{showref}}


<div >two way binding  </div>
<input [(ngModel)]="empname" type="text">
{{empname}}

<div >structure directive  if </div>
<div *ngIf="condition"> condition is true</div>

<div >structure directive  if  else</div>

<div *ngIf="!condition; else elseblock"> condition is true</div>
<ng-template  #elseblock>else block
</ng-template>

<div >structure directive  if  then else</div>

<div *ngIf="true;then thenblock; else elseblock"></div>
<ng-template  #thenblock>then if block  work  
</ng-template>

<div>switch case</div>
<div [ngSwitch]="colorcase">
    <div *ngSwitchCase="'blue'" >{{colorcase}}</div>   
    <div *ngSwitchCase="'green'" >{{colorcase}}</div>
    <div #ngSwitchDefault >no data match</div>   
    
</div>